In [6]:
#task1 #1
import sqlite3

In [7]:
#2 to create database intern_training_db
conn = sqlite3.connect("intern_training_db.db")
cursor = conn.cursor()

In [ ]:
#3
#SQLite does not use schemas explicitly (unlike MySQL).

In [8]:
#4
cursor.execute("""
CREATE TABLE IF NOT EXISTS students (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT,
    email TEXT,
    age INTEGER
)
""")

In [9]:
#5
cursor.execute("""
INSERT INTO students (name, email, age) VALUES
('Amit Sharma', 'amit@gmail.com', 21),
('Riya Patel', 'riya@gmail.com', 22),
('Karan Verma', 'karan@gmail.com', 20),
('Sneha Rao', 'sneha@gmail.com', 23),
('Rahul Mehta', 'rahul@gmail.com', 24)
""")

conn.commit() #Without commit → data is lost after program ends

In [10]:
#6
cursor.execute("SELECT * FROM students")
rows = cursor.fetchall() #returns all rows

for row in rows:
    print(row) #to print each record

(1, 'Amit Sharma', 'amit@gmail.com', 21)
(2, 'Riya Patel', 'riya@gmail.com', 22)
(3, 'Karan Verma', 'karan@gmail.com', 20)
(4, 'Sneha Rao', 'sneha@gmail.com', 23)
(5, 'Rahul Mehta', 'rahul@gmail.com', 24)

In [13]:
#7
cursor.execute("SELECT name FROM students")
for row in cursor.fetchall():
    print(row)

('Amit Sharma',)
('Riya Patel',)
('Karan Verma',)
('Sneha Rao',)
('Rahul Mehta',)

In [15]:
#8
cursor.execute("SELECT COUNT(*) FROM students")
print("Total Students:", cursor.fetchone()[0])

Total Students: 5

In [16]:
#task2 #1

In [17]:
cursor.execute("DROP TABLE students")
conn.commit()

In [18]:
#2
cursor.execute("""
CREATE TABLE students (
    id INTEGER PRIMARY KEY,
    name VARCHAR(100) NOT NULL,
    email VARCHAR(100) UNIQUE NOT NULL,
    age INT NOT NULL,
    dob DATE
)
""")
conn.commit()

In [19]:
#3
valid_students = [
    (1, "Rahul Sharma", "rahul@gmail.com", 21, "2003-05-10"),
    (2, "Ananya Verma", "ananya@gmail.com", 22, "2002-08-15"),
    (3, "Karan Mehta", "karan@gmail.com", 20, "2004-01-20")
]

cursor.executemany("""
INSERT INTO students (id, name, email, age, dob)
VALUES (?, ?, ?, ?, ?)
""", valid_students)

conn.commit()

In [21]:
#4
try:
    cursor.execute("""
    INSERT INTO students VALUES (4, 'Test User', 'rahul@gmail.com', 22, '2002-01-01')
    """)
    conn.commit()
except Exception as e:
    print("Error:", e)

Error: UNIQUE constraint failed: students.email

In [22]:
try:
    cursor.execute("""
    INSERT INTO students (id, email, age, dob)
    VALUES (5, 'test@gmail.com', 23, '2001-01-01')
    """)
    conn.commit()
except Exception as e:
    print("Error:", e)

Error: NOT NULL constraint failed: students.name

In [23]:
#5
# Why constraints matter (Python impact) , Prevent bad data , Protect ML / analytics pipelines , Reduce validation code in Python

In [24]:
#5
cursor.execute("ALTER TABLE students ADD COLUMN phone VARCHAR(15)")
conn.commit()

In [25]:
#6
cursor.execute("""
ALTER TABLE students RENAME COLUMN phone TO mobile_number
""")
conn.commit()

In [26]:
#7
cursor.execute("""
CREATE TABLE students_new (
    id INTEGER PRIMARY KEY,
    name VARCHAR(100) NOT NULL,
    email VARCHAR(100) UNIQUE NOT NULL,
    age INT NOT NULL,
    dob DATE
)
""")

cursor.execute("""
INSERT INTO students_new (id, name, email, age, dob)
SELECT id, name, email, age, dob FROM students
""")

cursor.execute("DROP TABLE students")
cursor.execute("ALTER TABLE students_new RENAME TO students")
conn.commit()

In [29]:
#8
#PRIMARY KEY → Unique student identification
#NOT NULL → Mandatory core attributes
#UNIQUE → No duplicate emails
#Proper types → Reliable analytics & joins

In [30]:
conn.close()